/* src/components/categories/Categories.css */

.categories-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;               /* Largura do botão */
  height: 80px;               /* Altura do botão */
  background-color: #00BCD4;  /* Cor de fundo azul */
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar um efeito de profundidade */
  transition: transform 0.2s;
  text-align: center;
}

.category-card:hover {
  transform: scale(1.05);     /* Efeito de zoom ao passar o mouse */
}

.category-icon {
  width: 100px;                /* Tamanho do ícone */
  height: auto;
  margin-bottom: 8px;
}

.category-card p {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}