/* Estilos gerais */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #69a19b;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .box {
    display: flex;
    gap: 20px;
    background-color: #d2e7e3;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login, .register {
    background-color: #b5d0c9;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
  }
  
  h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1fa078;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#178f68;
  }