
/* configurações gerais dos cards de pets */
.featured-pets {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #E0F2F1;
    gap: 20px;
    flex-wrap: wrap;
}

.pet-card {
    width: 250px;
    background-color: #229c88;
    border-radius: 15px;
    padding: 16px;
    text-align: center; /* centraliza os elementos dentro do card */
    box-shadow: 0 6px 10px rgba(43, 42, 42, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(43, 42, 42, 0.5);
}

.pet-card .pet-image {
    width: 100%;
    height: 150px; /* altura fixa */
    object-fit: cover; /* aqui a imagem se ajusta sem distorções */
    border-radius: 10px;
}

/* estilo das informações sobre o pet */
.pet-info {
    margin-top: 10px;
    font-size: 16px;
    color: #f7f8f8;
}

/* estilo do botão "Quero Adotar" */
.adopt-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.adopt-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E4E58;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    gap: 8px;
    cursor: pointer;
}

.adopt-button:hover {
    background-color: #78aaaa;
    transform: translateY(-2px);
}

.paw-icon-button {
    width: 18px; /* arruma o tamanho do ícone da pata */
    height: 18px;
}

/* card "mais pets" */
.more-pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E4E58;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(43, 42, 42, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.more-pets:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(43, 42, 42, 0.5);
}

.more-pets a {
    color: #80CBC4;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.more-pets a:hover {
    color: #ffffff;
}

.more-pets .paw-icon {
    width: 150px; /* essa parte ajusta o tamanho da pata */
    height: auto;
    margin-bottom: 10px; /* espaço entre a pata e o texto */
}

.more-pets p {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; /* espaçamento embaixo do texto */
    border-bottom: 2px solid #ffffff; /* aquela linha branca */
    padding-bottom: 30px; /* espaço entre a linha e o texto */
}