* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eaf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.caixa-de-login, .caixa-de-registro {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caixa-de-login {
    background-color: #d6f0f0;
    width: 50%;
}

.caixa-de-registro {
    background-color: #f0fbfb;
    width: 50%;
    text-align: left;
}

h2, h3 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="texto"], input[type="senha"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00a4a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008b8c;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    margin-bottom: 10px;
    color: #333;
}

ul li::before {
    content: "• ";
    color: #00a4a6;
}
