body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F2F1;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #004D40;
    color: #fff;
}

header .logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.login a {
    color: #80CBC4;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.hero {
    position: relative;
    height: 350px;
    background-color: #C8E6C9;
    background-image: url('imagens.jpg/banner.jpg');
    background-position: center;
    background-size: cover;
}

.search-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar input {
    width: 400px;
    padding: 12px 20px;
    border-radius: 30px;
    border: 2px solid #004D40;
    font-size: 16px;
}

.categoria {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px auto;
    width: 80%;
} 

.categoria a {
    text-align: center;
    text-decoration: none;
    color: #004D40;
    font-weight: bold;
    width: 150px;
}

/* essa é a parte que contém os ícones cães, gatos e outros animais */
.categoria img {
    /*width: 100%;*/
    height: 100px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(43, 42, 42, 0.877);
}

/* é nessa parte que que mudamos o espaçamento entre os animais de destaque */
.pets-em-destaque {
    display: flex;
    justify-content:space-around;
    padding: 20px;
    background-color: #E0F2F1;
}

.pet-card {
    width: 250px;
    background-color: #229c88;
    border-radius: 15px;
    padding: 14px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(43, 42, 42, 0.877);
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
}

.pet-info {
    margin-top: 10px;
    font-size: 16px;
    color: #f7f8f8;
}

.mais-pets {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004D40;
   /* color: #8a3b3b;*/
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
}

.mais-pets a {
    color: #80CBC4;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    background-color: #004D40;
    color: #fff;
}

.footer-section {
    width: 30%;
    text-align: center;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
}

.footer-section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #229c88;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
}
