/* src/pages/listaanimais/ListaAnimais.css */

/* contêiner principal para filtros e lista */
.lista-animais-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* estilização da barra de filtros */
.filtro {
    width: 250px;
    background-color: #e0f2f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filtro h3 {
    margin-bottom: 15px;
    color: #004d40;
}

.filtro label {
    font-size: 14px;
    font-weight: bold;
    color: #004d40;
}

.filtro select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #004d40;
    background-color: #ffffff;
    color: #004d40;
}

/* Lista de animais */
.lista-animais {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.animal-card {
    width: 5cm;
    height: 11cm;
    background-color: #229C88;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    overflow: hidden; /* esconde o excesso de conteúdo */
}

.pet-image {
    width: 100%;
    max-height: 3.5cm; /* reduz o tamanho da imagem */
    margin-bottom: 5px;
    border-radius: 5%;
    object-fit: cover;
}

.animal-card h4,
.animal-card p {
    font-size: 13px; /* reduz o tamanho da fonte */
    margin: 5px 0; /* reduz as margens entre textos */
}

.adopt-button-container {
    margin-top: 10px;
    text-align: center;
}

.adopt-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1fa078;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.adopt-button {
    background-color: #1E4E58;
}

.paw-icon-button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}